<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {% for a in anime %}
        <div>
            <h2>{{ a.title }}</h2>
            <h4>{{ a.alternative_title }}</h4>

            <p>
                {{ a.type }}, {{ a.year }}, {{ a.episodes }} eps, Genres: {{ a.genres }}
            </p>

            <img src="{{ a.image_url }}" alt="{{ a.title }}">

            <p>⭐ {{ a.score }}</p> 
        </div>
    {% endfor %}

</body>
</html>